body {
    background-image: url("../assets/background1.jpg");
    background-size: cover;

}

.card_container1 {
    display: flex;
    justify-content: center;
}

.card_container2 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: center;
}

.card {
    --bg-card: #ebe2d9;
    --primary: #93DFE2;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1rem;
    width: 14rem;
    background-color: var(--bg-card);

    border-radius: 1rem;
    color: #432E2E;
    font-weight: 100;
}

.image_container {
    overflow: hidden;
    cursor: pointer;

    position: relative;
    z-index: 5;

    width: 100%;
    height: 13.5rem;
    /*     background-color: var(--primary-800);
    border-radius: 0.5rem;
    background-size: contain;  */
    background-image: url("https://laikapp.s3.amazonaws.com/dev_images_products/0b3999f5b8342aa6b94d953201542e2f_1715725578.jpg");
    background-size: cover;
    background-position: center;
}


.image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 3rem;
    fill: var(--light);
}

.title {
    overflow: clip;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}


.action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
}

.cart-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);
    font-size: 0.75rem;
    font-weight: 500;
    color: #054b4e;
    font-weight: bold;
    text-wrap: nowrap;
    border: 2px solid #93DFE2;
    border-radius: 1rem;
    background-color: #93DFE2;
}

.cart-button .cart-icon {
    width: 1rem;
}

.cart-button:hover {
    background-color: #448c8f;
    border: 2px solid #448c8f;
    color: white;
}

.promo_title {
    background-color: #EA314D;
    /* background-color: lightcoral; */
    width: 80%;

    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo_container {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}